# Database
PG_HOST=
PG_MIGRATE_HOST=
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=
PG_DBNAME=

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Client (public)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Cloudflare Tunnel
CF_TUNNEL_TOKEN=

# GitHub Container Registry (WUD)
GHCR_TOKEN=
